{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content | strip_newlines %}

{% assign posts_total = site.posts | size %}

{% assign user = site.user %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ user.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/personal-website/assets/styles.css" }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/personal-website/favicon.ico" }}">
  </head>
<body class="bg-white" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>