{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mr-3' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<img src="{{ user.avatar }}" class="circle mb-3" style="max-width: 150px;">
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.gitlab }}{% endif %}</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  {{ user.bio }}
</p>

{% if include.metadata %}
  <div class="f4 mb-6">
    {% if user.github %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/{{ user.github }}" target="_blank" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          @{{ user.github }}
        </a>
      </div>
    {% endif %}
    {% if user.gitlab %}  
      <div class="{{ metadata_styles }}">
        <img src="/personal-website/assets/gitlab.png" class="mr-2 v-align-middle" aria-label="GitLab" style="height:20px;width:20px;"/>
        <a href="https://gitlab.com/{{ user.gitlab }}" target="_blank" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          @{{ user.gitlab }}
        </a>
      </div>
    {% endif %}
    {% if user.email %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ user.email }}" target="_blank" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          {{ user.email }}
        </a>
      </div>
    {% endif %}
    {% if user.threema %}
      <div class="{{ metadata_styles }}">
        <img src="/personal-website/assets/threema.png" class="mr-2 v-align-middle" aria-label="Threema" style="height:20px;width:20px;"/>
        <a href="https://threema.id/{{ user.threema }}" target="_blank" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          {{ user.threema }}
        </a>
      </div>
    {% endif %}
    {% if user.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
    {% if user.hireable %}
      <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for hire</span>
    {% endif %}
  </div>
{% endif %}
